navbar {
    position:fixed;
    top:0;
    left:0;
}
navbar h1 {
    font-size:4vw;
    line-height:9vh !important;
}
navbar,.title {
    width:100%;
    height:9vh;
    background-color:white;
    z-index:1;
    text-align:center;
    border-bottom:1px solid gainsboro;
}

navbar img {
    position:absolute;
    left:0;
    padding:0.5vh;
    height:100%;
}
navbar h1 {
    display:inline !important;
    margin:0 auto;
    font-weight:bold;
}
#content {
    margin-top:9vh;
    font-size:2vw;
    padding:3vw;
}
.collection-item {
    padding:1.5vw !important;
    cursor:pointer;
}
.description {
    width:100%;
    font-size:2vw;
    padding:2vw;
    padding-top:9vh;
    padding-bottom:20vh;
}
.title {
    font-size:3vw;
    text-align:center;
    border-top:1px solid gainsboro;
    line-height:9vh !important;
}
.title a {
    float:right;
}

@media all and (orientation: portrait) {
    h1 {
        font-size:10vw !important;
    }
    .title {
        font-size:7vw;
    }
    #content,.description {
        font-size:5vw;
    }
    .collection {
        font-size:6vw;
        line-height:6vw;
    }
    .collection-item,.collection-header {
        padding:5vw !important;
    }
}
