.slwmvingImg {
    width:100%;
    height:60vh;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}
#content {
    padding:0;
}
#content p{
    width:50vw;
}
#content h2{
    padding-top:10vh;
}

#innovation {
    background-image:url("../images/innovation.png");
}
#eco {
    background-image:url("../images/eco.png");
}
#equality {
    background-image:url("../images/water.png");
}
#creativity {
    background-image:url("../images/creativity.png");
}
