#navbar {
    background-color:transparent;
    transition:background-color 0.5s;
    border-bottom:none;
}
#navbar.colorChange {
    background-color:white;
    border-bottom:1px solid gainsboro;
}
#navbar.colorChange .link a {
    color:black !important;
}
a[title = "Home"] img {
    opacity:0;
    transition:opacity 1s;
}
.logoFade {
    opacity:1 !important;
}
.link a {
    color:white !important;
}
#callTA {
    position:absolute;
    width:100%;
    height:100%;
    background-image:url("../images/water.png");
    background-size:cover;
    box-shadow:inset 0 -25px 44px -15px rgba(0,0,0,.3);
}
#callTA h1{
    position:absolute;
    width:40%;
    left:30%;
    bottom:10vh;
    color:lightgrey;
    text-align:center;
}
#callTA img {
    position:absolute;
    width:25%;
    left:37.5vw;
    bottom:32vh;
}

#content {
    margin-top:100vh;
}

#downArrow {
    position:absolute;
    bottom:0;
    display:block;
    position:absolute;
    width:10vw;
    height:5vw;
    left:45vw;
    bottom:0vh;
    background-image:url("../images/downArrow.png");
    background-size:cover;
    background-position:center;
    cursor:pointer;
}
.para {
    position:relative;
    margin-top:1vw;
}
.para h1 {
    margin:0 auto;
}
.para p {
    width:100%;
}

.pl {
    margin-left:4%;
}
.l {
    margin-left:0 !important;
}

.hold {
    width:50%;
    margin-left:50%
}
.paraimg {
    position:absolute;
    width:48%;
    height:100%;
    top:0;
    left:-100vw;
    object-fit:contain;
}
.pir {
    left:100vw;
}

#ceo {
    width:25vw;
    margin:7.5vw auto 0;
    background-color:#d3d3d3;
    border:1px solid grey;
    box-sizing:border-box;
}
#founder {
    width:15vw;
    height:15vw;
    margin:-7.5vw;
    border-radius:15vw;
    border:5px solid #d3d3d3;
    box-sizing:border-box;
    object-fit:cover;
}
#ms {
    display:inline-block;
    margin-top:8.5vw;
}

@media only screen (orientation : landscape) {
    #callTA img {
        bottom:50vh;
    }
}

@media all and (orientation : portrait) {
    #callTA img {
        width:70%;
        left:15%;
        bottom:42vh;
    }
    #callTA h1 {
        width:70%;
        left:15%;
        font-size:8vw;
        bottom:25vh;
    }
    #downArrow {
        width:20vw;
        height:10vw;
        left:40vw;
    }
    .para,.paraimg {
        margin-top:5vw;
    }
    .para {
        margin-left:0 !important;
        width:100% !important;
    }
    .para {
        font-size:5vw;
    }
    .paraimg {
        position:static;
        display:block;
        margin-left:-55%;
    }
    .hold {
        width:100%;
        margin-left:0;
    }
    #ceo {
        margin-top:10vh;
        width:80vw;
        padding:1vw;
        font-size:5vw;
    }
    #founder {
        width:50%;
        height:40vw;
        margin-top:-24vw;
        border-radius:25vw;
    }
}
